* {
	margin:0;
	padding:0;
}

body {
	background-color: #D9B876;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#EAD8B4;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:0px;
	right:0px;
}

/*--- slideshow ---*/
.slides {
	width:100%;
	background:#5E4F3D;
}

.slides img {
	width:100%;
}

.slidesjs-pagination {
	
	list-style:none;
	
}

.slidesjs-pagination li {
	float:left;
	
}

.slidesjs-pagination li a { /*--- fondo numeracion ---*/
	display:none;
	
	text-decoration:none;
		
}

.slidesjs-pagination li a:hover {
	background:#000;
}

.slides .active {
	background:#000;
}

.slidesjs-navigation { /*--- fondo avanzar-retroceder ---*/
	background:#5E4F3D;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:12px 20px;
	float:left;
	
}

/*--- social barra ---*/
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 70px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #EAD8B4;
		padding: 15px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#EAD8B4;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-mail {background: #EAD8B4;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 15px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}



 
/*Menu*/
header nav {
	background:#5E4F3D;
	overflow:hidden;

}

header nav ul {
	list-style:none;

}

header nav ul li{
	float:left;
}

header nav ul li a {
	padding:10px 20px;
	display:block;
	color:#fff;
	font-family: arial, helvetica;
	text-decoration:none;
}

header nav ul li a:hover {
background:#5E4F3D;
color:#8C8275;
}


.contenedor {
	width:100%;
	max-width:1000px;
	margin:40px auto;
	background-color: rgba(255, 255, 255, 0.60);
	
 /*--- fondo contenedor con opacidad ---*/
}


/*--- MAIN ---*/

#main  {
	padding: 10px 40px 40px 10px;
	
}


h1 {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-family: arial, helvetica, san serif;
	font-size: 18px;
	color:#5E4F3D;
}

h2 {
	margin-top: 20px;
	font-weight: normal; 
	font-size: 18px;
	font-family: arial, helvetica, san serif;
	margin-left: 20px;
	line-height: 16px; 
	color:#5E4F3D;
	text-decoration: none;	

}

.nosotros p {
	color:#5E4F3D;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 5px;
	font-family: arial, helvetica, san serif;
	line-height: 24px; /*--- interlineado---*/

}


.thumb img  {
	width: 60%;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: #fff 10px solid; 
}

.webs img  {
	width: 30%;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	display: block;
}

.logos img  {
	width: 28%;
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 30px;
	display: inline;
}

.grafica img  {
	width: 70%;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	display: inline;
}



a {
	text-decoration: none;	
}


a.rojo:link {
	color: #000; 
	font-weight: bold; 
	padding: 2px 5px 2px 5px; 
	text-decoration: none;
	font-family: Arial, Helvetica;
	margin-left: 20px;
	
}

a.rojo:hover {
	color: #fff; 
	background: #CC0000; 
	font-weight: bolder; 
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	font-family: Arial, Helvetica;
	margin-left: 20px;

}

a.rojo:visited {
	color: #cccccc; 
	background: #CC0000; 
	font-weight: bolder; 
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	font-family: Arial, Helvetica;
	margin-left: 20px;

}


footer {
	color:#5E4F3D;
	clear:both;
	text-align:center;
	width:98%;
	font-family: Arial, Helvetica;
	font-size:12px;
	padding:20px 0px;
	background:#EAD8B4;
	margin-top: 20px;
	margin-left: 20px;

}


@media screen and (max-width: 800px){
	body {
		background:#fff
	}  
}
/*--- cdo llega a un max de 800 el fondo se pone bco ---*/

@media screen and (max-width: 400px){
	.contenedor {
		width:100%;
	}
	.nosotros img {
		width:100%;
	}
	
/*--- cdo llega a un max de 300 el fondo se pone al 100% ---*/

@media screen and (max-width: 800px){
	.main {
		width:100%;	
	}
	
}

}