/* Cuerpo */
body {
	background-color: #F0E3C8;
	font-family: 'Montserrat', sans-serif;
}

.ir-arriba {
	display:none;
	padding:20px;
	font-size:20px;
	color:#D9B876;
	cursor:pointer;
	position: fixed;
	bottom:0px;
	right:0px;
}







