header {
    margin-bottom: 51px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5E4F3D;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
}

/* logo */
.logo-pagina {
    margin-left: 80px;
}

/* menu */
.enlaces-menu {
    display: flex;
    padding: 0;
}

.enlaces-menu li {
    padding: 0 40px;
    list-style: none;
} 

.enlaces-menu li a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #FFFFFF;
    font-weight: 600;
    transition-duration: 1s;
}

.enlaces-menu li a:hover {
    color: #D9B876;
} 

/* BUTTON */
.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition-duration: 1.2s;
}

.ham:hover {
    transform: rotate(180deg);
}

.ham span {
    display: block;
    background-color: #FFFFFF;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}
/* Animacion */
@keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }
/* menuburger */
.enlaces-menu.activado{
    display:flex; 
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
}
  
.br-2.animado{
    opacity: 0;
}
.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
}

.ham.girar:hover{
    transform:rotate(360deg);
}


/* MEDIAQUERY */
@media (max-width: 1000px) {
    body {
        overflow: hidden;
    }
    header {
        margin-bottom: 69px;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 25px;
        padding-bottom: 25PX;
    }
    .enlaces-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 32vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity:0;
        transition: opacity 5s ease-out;
    }
    .enlaces-menu li {
        width: 95%;
        text-align: center;
        padding: 20px;
        transition-duration: 1s;
    }
    .enlaces-menu li:hover {
        background-color: #72614c;
    }
    .enlaces-menu li a {
        font-size: 1rem;
    }
    .ham {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .enlaces-menu {
        height: 70vh;
    }
}
